@model DealDouble.Entity.Auction

<h2>Edit Auction</h2>

<form id="editForm" method="post">
    <input name="ID" type="hidden" value="@Model.ID" />
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="Title" value="@Model.Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="Description" value="@Model.Description">
    </div>
    <div class="mb-3">
        <label class="form-label">Actual Amount</label>
        <input type="text" class="form-control" name="ActualAmount" value="@Model.ActualAmount">
    </div>
    <div class="mb-3">
        <label class="form-label">Starting Time</label>
        <input type="text" class="form-control" name="StartingTime" value="@Model.StartingTime">
    </div>
    <div class="mb-3">
        <label class="form-label">Ending Time</label>
        <input type="text" class="form-control" name="EndingTime" value="@Model.EndingTime">
    </div>
    <button type="button" class="btn btn-primary" id="saveButton">Submit</button>
</form>



<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auction/Edit",
            method: "post",
            data: $("#editForm").serialize()
        }).done(function (response) {
            debugger;

            $("#listingArea").html(response);
        }).fail(function () { });
    });
</script>

