@model DealDouble.ViewModels.AuctionViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="col-md-12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="container text-center">
    <h3>All Promoted Auction</h3><br>
    <div class="row">
        <div class="col-md-12">
            @foreach (var auction in Model.PromotedAuction)
            {
                <div class="col-sm-3">
                    <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                    <h3><a href="@Url.Action("Detail","Auction", new {ID = auction.ID })" style="color:crimson">@auction.Title</a></h3>
                    <h3>$@auction.ActualAmount</h3>
                    <p>@auction.Description</p>
                    <h4>*****</h4>
                </div>
            }
        </div>
    </div>
    </div>
    <br />
    <div class="container text-center">
        <h3>All Auction</h3><br>
        <div class="row">
            <div class="col-md-12">
                @foreach (var auction in Model.AllAuction)
                {
                    <div class="col-sm-3">
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                        <h3><a href="@Url.Action("Detail","Auction", new {ID = auction.ID })" style="color:crimson">@auction.Title</a></h3>
                        <h3>$@auction.ActualAmount</h3>
                        <p>@auction.Description</p>
                        <h4>*****</h4>
                    </div>
                }
            </div>

        </div>
    </div>
<br>

